
<form class="form-horizontal" role="form" ng-submit="addprojection()" >

<!-- 	 	<div class='form-group' ng-controller="TypeaheadCtrl"> -->
<!-- 		<div class='form-group'> -->
		<div class='form-group'>
			<label for="name" class="col-sm-2 control-label">Project</label>

			<!-- 		<pre>Model: {{selected.tower | json}}</pre>  -->
			<div class="col-sm-8">
				<input type="text" ng-model="projectionValue.project" class="form-control" />
			</div>
		</div>
	
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">Tower</label>
			<div class="col-sm-8">
				<input type="text" ng-model="projectionValue.tower" class="form-control" />
			</div>
		</div>
		

		

		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">WON</label>
			<div class="col-sm-8">
				<input type="text" ng-model="projectionValue.won_number"
					class="form-control" />
			</div>
		</div>
		
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">WON LOCATION</label>
			<div class="col-sm-8">
				<input type="text" ng-model="projectionValue.won_type"
					class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">Month</label>
			<div class="col-sm-8">
				<input type="text" ng-model="projectionValue.month"
					class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">Year</label>
			<div class="col-sm-8">
				<input type="text" ng-model="projectionValue.Year"
					class="form-control" />
			</div>
		</div>
		
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">Future Projection in Months</label>
			<div class="col-sm-8">
				<input type="text" ng-model="projectionValue.ExtProjection" ng-init="0"
					class="form-control" />
			</div>
		</div>
		
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">Resource Count</label>
			<div class="col-sm-8">
				<input type="text" ng-model="projectionValue.resource_count"
					class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">Revenue</label>
			<div class="col-sm-8">
				<input type="text" ng-model="projectionValue.revenue"
					class="form-control" />
			</div>
			
		</div>
		
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">Holiday Count</label>
			<div class="col-sm-8">
				<input type="text" ng-model="projectionValue.Holiday_count"
					class="form-control" />
			</div>
			
		</div>
	
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<input type="submit" class="btn btn-primary" value="Save" />
		</div>
	</div>
	
</form>