<div class="container pad-top">
  <a ui-sref="addproj" class="btn-primary btn-lg nodecoration">Add New Project</a>
  <br/>
  <br/>
  <br/>
  <div id="grid1" ui-grid="gridOptions" ui-grid-exporter ui-grid-pagination>
  
  </div>
  
  </div>
  
  <!-- <table id="projtable" class="table table-striped table-bordered" ui-jq="dataTable"
  ui-options="dataTableOpt">
 
        <thead>
            <tr>
                <th>TOWER</th>
                <th>PROJECT</th>
                <th>SERVICELINE</th>
                <th>SUB_SP</th>
                <th>PROJECT_TYPE</th>
                <th>ONSITE_WON</th>
                <th>OFFSHORE_WON</th>
                <th>NEARSHORE_WON</th>
            </tr>
        </thead>
    
      <tr ng-repeat="projectdata in userdata">
          <td>{{projectdata.tower}}</td>
          <td>{{projectdata.project}}</td>
        
          <td>{{projectdata.service_line}}</td>
          <td>{{projectdata.sub_sp}}</td>
          <td>{{projectdata.project_type}}</td>
            <td>{{projectdata.onsite_won}}</td>
          <td>{{projectdata.offsite_won}}</td>
          <td>{{projectdata.near_won}}</td>
          
          <td>
              <a class="btn btn-primary" ui-sref="viewuser({id:userdata.iduser})">View</a>
              <a class="btn btn-danger"  ng-click="deleteuser(userdata.iduser)">Delete</a>
          </td>
      </tr>
  </table> -->


